// Fuentes
$fuente_principal: 'Lato', sans-serif;

// Tamaño de Media Queries
$desktop: 1024px;

// Colores
$negro: #000000;
$amarillo: #E08709;;
$verde: #71B100;
$blanco: #FFFFFF;
$gris: #e1e1e1;
$grisOscuro: #333333;
$rojo: rgb(189, 7, 7);
